# Python virtual environment
env/
venv/

# IDE configs
.idea/
.vscode/

# Python cache files
__pycache__
*.pyc

# Pyenv
.python-version

# Pickle files
*.pkl

# Environment files
.env

# Dataset files
data/stargazers/
data/repos_users.json
data/repos_users-6000.json
data/repos_users-9000.json
